@import "tailwindcss";

@theme {
  --animate-float: float 10s infinite ease-in-out alternate;

  @keyframes float {
    0% { transform: translate(0, 0) scale(1); }
    100% { transform: translate(50px, 50px) scale(1.1); }
  }
}

:root {
  /* Gravity UI Custom Properties */
  --g-color-base-generic: #ffffff;
  --g-color-base-generic-hover: #f3f4f6;
  --g-color-line-generic: #e5e7eb;
  --g-color-text-primary: #111827;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
